# Extra index for CPU wheels
--extra-index-url https://download.pytorch.org/whl/cpu

# Core
torch>=2.5.0,<2.10.0
torchvision>=0.15.0
numpy==2.2.4
Pillow==10.4.0

# Data / ML
datasets==4.4.1
pandas==2.3.3
scipy==1.13.1
tqdm==4.67.1
pyarrow

# App / viz
streamlit==1.36.0
matplotlib==3.9.0
altair==5.3.0

# Misc
packaging
protobuf
pytz
PyYAML
typing_extensions==4.10.0
requests